	  <div class="row vertical-center-row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row ">
                <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3">


					<div class="row ">
						<div class="col-xs-12 col-md-12 col-lg-12">

							<label>Users</label>


							<form data-bind="submit:addItem">
								<div class="form-group form-inline">
									<input type="text" class="form-control" size="40" placeholder="Enter Username to add" data-bind='value:txtAddUser, valueUpdate: "afterkeydown"' />
									<button type="submit" class="btn btn-primary" data-bind="enable: txtAddUser().length > 0">Add User</button>
								</div>
							</form>
							 
							<div class="form-group">
								<label>Current Users</label>
								<select multiple="multiple" class="form-control" height="5" data-bind="options:allUsers, selectedOptions:selectedItems"> </select>
							</div>

							<div class="form-group">
								<button class="btn btn-secondary" data-bind="click: removeSelected, enable: selectedItems().length > 0">Remove User</button>
							</div>
							
							
							
							</div>
					  </div>



				</div>
            </div>
        </div>
    </div>

	<script src="media/js/usersViewModel.js"></script>
	<script type="text/javascript">
	
	</script>